.col-3 {
    width: 187.5rpx;
}

.flex {
    display: flex;
}

.flex-one {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-between {
    display: flex;
    justify-content: space-between!important;
}

.justify-center {
    justify-content: center;
}

.alcenter {
    align-items: center;
}

.alself-end{
	align-self: flex-end;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.rounded {
    border-radius: 8rpx;
}

.bg-white {
    background-color: #fff;
}

.bg-EE9D18 {
    background-color: #EE9D18;
}

.bg-e5e5e5 {
    background-color: #e5e5e5;
}

.bg_FFA1AF {
    background-color: #FFA1AF;
}

.bg_f0f2f5 {
    background-color: #f0f2f5;
}

.bg_54BCB7 {
    background-color: #54BCB7;
}

.bg_C5CFD5 {
    background-color: #C5CFD5;
}

.bg_67D8D3 {
    background-color: #67D8D3;
}
.c_e54843{
	color: #e54843;
}
.c_AAAAAA {
    color: #AAAAAA;
}

.c_F71D1D {
    color: #F71D1D;
}

.c_D85151{
	color: #D85151;
}
.c_4C6EF5{
	color: #4C6EF5;
}
.c_262626{
	color: #262626;
}

.c_B4B5B6 {
    color: #B4B5B6;
}
.c_00ff33{
	color: #00ff33;
}
.c_8F8F8D{
	color: #8F8F8D;
}
.c_5B5B5C {
    color: #5B5B5C;
}

.c_C7D0D6 {
    color: #C7D0D6;
}

.c_8C9FAD {
    color: #8C9FAD;
}

.c_383A50{
	color: #383A50;
}

.c_9397AF{
	color: #9397AF;
}

.c_989AAA {
    color: #989AAA;
}
.c_0077EA{
	color: #0077EA;
}
.c_8B8C90{
	color: #8B8C90;
}
.c_9B9898 {
    color: #9B9898;
}

.c_54BCB7 {
    color: #54BCB7;
}

.c_C5CFD5 {
    color: #C5CFD5;
}

.c_FFA1AF {
    color: #FFA1AF;
}

.c-EE9D18 {
    color: #EE9D18;
}

.c-00A212 {
    color: #00A212;
}

.c_FA9A43 {
    color: #FA9A43;
}

.c-white {
    color: #fff;
}

.c_666 {
    color: #666666;
}

.c_999 {
    color: #999999;
}
.c_e88c0e{
	color: #e88c0e;
}
.c_gray {
    color: #ccc;
}

.c_969797 {
    color: #969797;
}

.c_8E8E93 {
    color: #8E8E93;
}

.c_848484 {
    color: #848484;
}

.c_F7B500 {
    color: #F7B500;
}

.c_8A6756 {
    color: #8A6756;
}

.c_F43F36 {
    color: #F43F36;
}

.c_FA6400 {
    color: #FA6400;
}

.c_B5B5B5 {
    color: #B5B5B5;
}

.bg_54BCB7 {
    background-color: #54BCB7;
}

.bg_C5CFD5 {
    background-color: #C5CFD5;
}

.c_AAAAAA {
    color: #AAAAAA;
}

.c_F71D1D {
    color: #F71D1D;
}

.c_B4B5B6 {
    color: #B4B5B6;
}

.c_C7D0D6 {
    color: #C7D0D6;
}

.c_8C9FAD {
    color: #8C9FAD;
}

.c_989AAA {
    color: #989AAA;
}

.c_9B9898 {
    color: #9B9898;
}

.c_54BCB7 {
    color: #54BCB7;
}

.c_C5CFD5 {
    color: #C5CFD5;
}

.c_FFA1AF {
    color: #FFA1AF;
}

.c-EE9D18 {
    color: #EE9D18;
}

.c-00A212 {
    color: #00A212;
}

.c_FA9A43 {
    color: #FA9A43;
}

.c-white {
    color: #fff;
}

.c_666 {
    color: #666666!important;
}

.c_999 {
    color: #999999;
}

.c_gray {
    color: #ccc;
}

.c_969797 {
    color: #969797;
}

.c_8E8E93 {
    color: #8E8E93;
}

.c_848484 {
    color: #848484;
}

.c_F7B500 {
    color: #F7B500;
}

.c_8A6756 {
    color: #8A6756;
}

.c_F43F36 {
    color: #F43F36;
}

.c_FA6400 {
    color: #FA6400;
}

.color-red {
    color: #ff5340;
}

.c_black {
    color: #000
}

.line:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #F0F0F0;
    width: 100%;
    height: 1px;
    transform: scaleY(0.5);
}

.border_top:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #F0F0F0;
    width: 100%;
    height: 1px;
    transform: scaleY(0.5);
}

.border_bottom:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #F0F0F0;
    width: 100%;
    height: 1px;
    transform: scaleY(0.5);
}

.border_bottom_one:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2upx;
    background: #D5D5D8;
    width: 100%;
    height: 1upx;
    transform: scaleY(0.5);
}

.border_right:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: #D5D5D8;
    width: 1px;
    height: 100%;
    transform: scaleX(0.5);
}

.w_650 {
    width: 650rpx;
}

.h_100 {
    height: 100%;
}

.h40 {
    height: 40upx;
}

.h120 {
    height: 120upx;
}

.h100 {
    height: 100upx!important;
}

.h60 {
    height: 60upx;
}

.h80 {
    height: 80upx!important;
}

.h88 {
    height: 88upx;
}

.h90 {
    height: 90upx;
}

.mt10 {
    margin-top: 10upx;
}

.mb10 {
    margin-bottom: 10upx;
}

.mb20 {
    margin-bottom: 20upx;
}

.mb30 {
    margin-bottom: 30upx;
}

.mb40 {
    margin-bottom: 40upx!important;
}
.mb50 {
    margin-bottom: 50upx;
}
.mb60 {
    margin-bottom: 60upx;
}

.ml4 {
    margin-left: 4upx;
}

.ml10 {
    margin-left: 10upx;
}

.ml40 {
    margin-left: 40upx;
}

.ml60 {
    margin-left: 60upx;
}

.ml70 {
    margin-left: 70upx;
}

.ml100 {
    margin-left: 100upx;
}

.ml20 {
    margin-left: 20upx;
}

.ml30 {
    margin-left: 30upx;
}

.mr10 {
    margin-right: 10upx;
}

.mr20 {
    margin-right: 20upx;
}

.mr30 {
    margin-right: 30upx;
}

.mr40 {
    margin-right: 40upx;
}

.mr70 {
    margin-right: 70upx;
}

.mr100 {
    margin-right: 100upx;
}

.mt20 {
    margin-top: 20upx!important;
}

.mt13 {
    margin-top: 13upx;
}

.mt30 {
    margin-top: 30upx;
}

.mt40 {
    margin-top: 40upx;
}

.mt50 {
    margin-top: 50upx;
}

.mt60 {
    margin-top: 60upx;
}

.mt80 {
    margin-top: 80upx;
}

.mt120 {
    margin-top: 120upx;
}

.mt160 {
    margin-top: 160upx;
}

.mlr10 {
    margin-left: 10upx;
    margin-right: 10upx;
}

.mlr30 {
    margin-left: 30upx;
    margin-right: 30upx;
}

.mlr40 {
    margin-left: 40upx;
    margin-right: 40upx;
}

.pl10 {
    padding-left: 10upx;
}

.pl30 {
    padding-left: 30upx;
}

.pl40 {
    padding-left: 40upx;
}

.pl58 {
    padding-left: 58upx;
}

.pl60 {
    padding-left: 60upx;
}

.pl130 {
    padding-left: 130upx;
}

.pl20 {
    padding-left: 20upx;
}

.pr10 {
    padding-right: 10upx;
}

.pr20 {
    padding-right: 20upx;
}

.pr30 {
    padding-right: 30upx;
}

.pr40 {
    padding-right: 40upx;
}

.pd10 {
    padding: 10upx;
}

.pd20 {
    padding: 20upx!important;
}

.pd40 {
    padding: 40upx;
}

.plr10 {
    padding-left: 10upx;
    padding-right: 10upx;
}

.plr20 {
    padding-left: 20upx;
    padding-right: 20upx;
}

.plr30 {
    padding-left: 30upx;
    padding-right: 30upx;
}

.plr40 {
    padding-left: 40upx!important;
    padding-right: 40upx!important;
}

.plr56 {
    padding-left: 56upx!important;
    padding-right: 56upx!important;
}

.pt20 {
    padding-top: 20upx;
}

.pt30 {
    padding-top: 30upx;
}

.pt40 {
    padding-top: 40upx;
}

.pb20 {
    padding-bottom: 20upx;
}

.pb30 {
    padding-bottom: 30upx;
}

.pb40 {
    padding-bottom: 40upx;
}

.pb50 {
    padding-bottom: 50upx;
}

.pb100 {
    padding-bottom: 100upx;
}

.mb20 {
    margin-bottom: 20upx!important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.line-one {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.line-two {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ft16 {
    font-size: 16upx;
}

.ft20 {
    font-size: 20upx!important;
}

.ft24 {
    font-size: 24upx;
}

.ft26 {
    font-size: 26upx;
}

.ft28 {
    font-size: 28upx;
}

.ft30 {
    font-size: 30upx;
}

.ft32 {
    font-size: 32upx;
}
.ft34 {
    font-size: 34upx;
}

.ft36 {
    font-size: 36upx;
}

.ft40 {
    font-size: 40upx;
}

.ft50 {
    font-size: 50upx;
}

.ft60 {
    font-size: 60upx;
}

.ft64 {
    font-size: 64upx;
}

.ft72 {
    font-size: 72upx;
}

.lh36 {
    line-height: 36rpx;
}

.lh40 {
    line-height: 40rpx;
}

.lh56 {
    line-height: 56rpx;
}

.font-bold {
    font-weight: bold;
}

.mr70 {
    margin-right: 70upx;
}

.mr100 {
    margin-right: 100upx;
}

.mt20 {
    margin-top: 20upx!important;
}

.mt13 {
    margin-top: 13upx;
}

.mt30 {
    margin-top: 30upx;
}

.mt40 {
    margin-top: 40upx;
}

.mt50 {
    margin-top: 50upx;
}

.mt60 {
    margin-top: 60upx;
}

.mt80 {
    margin-top: 80upx;
}

.mt120 {
    margin-top: 120upx;
}

.mt160 {
    margin-top: 160upx;
}

.mlr10 {
    margin-left: 10upx;
    margin-right: 10upx;
}

.mlr30 {
    margin-left: 30upx;
    margin-right: 30upx;
}

.mlr40 {
    margin-left: 40upx;
    margin-right: 40upx;
}

.pl10 {
    padding-left: 10upx;
}

.pl30 {
    padding-left: 30upx;
}

.pl60 {
    padding-left: 60upx;
}

.pl130 {
    padding-left: 130upx;
}

.pl20 {
    padding-left: 20upx;
}

.pr10 {
    padding-right: 10upx;
}

.pr20 {
    padding-right: 20upx;
}

.pd10 {
    padding: 10upx;
}

.pd20 {
    padding: 20upx!important;
}

.pd40 {
    padding: 40upx;
}

.plr10 {
    padding-left: 10upx;
    padding-right: 10upx;
}

.plr20 {
    padding-left: 20upx;
    padding-right: 20upx;
}

.plr30 {
    padding-left: 30upx;
    padding-right: 30upx;
}

.plr40 {
    padding-left: 40upx!important;
    padding-right: 40upx!important;
}

.plr56 {
    padding-left: 56upx!important;
    padding-right: 56upx!important;
}

.pt20 {
    padding-top: 20upx;
}

.pt30 {
    padding-top: 30upx;
}

.pb20 {
    padding-bottom: 20upx;
}

.pb30 {
    padding-bottom: 30upx;
}

.pb40 {
    padding-bottom: 40upx;
}

.pb100 {
    padding-bottom: 100upx;
}

.mb20 {
    margin-bottom: 20upx!important;
}

.text-center {
    text-align: center;
}

.line-one {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.line-two {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ft16 {
    font-size: 16upx;
}

.ft20 {
    font-size: 20upx!important;
}

.ft24 {
    font-size: 24upx;
}

.ft26 {
    font-size: 26upx;
}

.ft28 {
    font-size: 28upx;
}

.ft30 {
    font-size: 30upx;
}

.ft32 {
    font-size: 32upx;
}

.ft36 {
    font-size: 36upx;
}

.ft40 {
    font-size: 40upx;
}

.ft50 {
    font-size: 50upx;
}

.ft60 {
    font-size: 60upx;
}

.lh36 {
    line-height: 36rpx;
}

.lh40 {
    line-height: 40rpx;
}

.lh56 {
    line-height: 56rpx;
}

.font-bold {
    font-weight: 600;
}

.relative {
    position: relative;
}

.pf {
    font-family: PingFangSC-Semibold, PingFang SC;
}